<div class="alert {{this.statusClass}} d-flex align-items-center justify-content-between mb-3" role="alert">
  <div class="d-flex align-items-center">
    <i class="{{this.statusIcon}} me-2"></i>
    <span>{{this.statusMessage}}</span>
    {{#if (eq this.connectionStatus "connected")}}
      <span class="badge bg-primary ms-2">{{this.participantCount}} participants</span>
    {{/if}}
  </div>
  
  {{#if (eq this.connectionStatus "error")}}
    <button 
      type="button" 
      class="btn btn-outline-danger btn-sm"
      {{on "click" this.reconnect}}
    >
      <i class="bi bi-arrow-clockwise me-1"></i>
      Retry
    </button>
  {{/if}}
</div>